[Unit]
Description=Run apt-textfile every 15 minutes

[Timer]
OnBootSec=3min
OnCalendar=*:07/15
RandomizedDelaySec=60
AccuracySec=30s
Persistent=false

[Install]
WantedBy=timers.target
